*.css linguist-detectable=false
*.pks linguist-detectable=false
*.py linguist-detectable=true
*.js linguist-detectable=false
*.java linguist-detectable=false
wastewater-neg filter=lfs diff=lfs merge=lfs -text
